<h1>Add new book to DDBB</h1>

<form action="/books/add" method="post">
  <label for="">Title:</label>
  <input type="text" name="title"> <br><br>

  <label for="">Author:</label>
  <input type="text" name="author"> <br><br>

  <label for="">Description:</label>
  <input type="text" name="text"> <br><br>

  <button type="submit">ADD</button>
</form>